@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Підтвердження реєстрації";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Натисніть, щоб підтвердити Ваш аккаунт: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Підтвердження аккаунту</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
