@model LabWebCars.Models.Car

@{
    ViewData["Title"] = "Редагування";
}

<h1>Редагувати авто</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transmission" class="control-label"></label>
                <input asp-for="Transmission" class="form-control" />
                <span asp-validation-for="Transmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ProducerId" type="hidden" id="producerId" class="form-control" />
                <span asp-validation-for="ProducerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Назва дилера</label>
                <input class="form-control" id="tags" />
            </div>
            <div class="form-group">
                <label asp-for="Info" class="control-label"></label>
                <input asp-for="Info" class="form-control" />
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" accept="image/*" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Photo" type="hidden" />
                </div>*@

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="javascript:history.go(-1)">Повернутися назад</a>
</div>
<script>

    let namesWithLabels = [];
    function ready() {
        fetch(`https://localhost:44370/api/producers1/`, {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        })
            .then(data => data.json())
            .then((data) => {
                console.log('data is', data);
                namesWithLabels = data.map(producer => ({ label: producer.name, id: producer.id }));
                console.log('page is ready, namesWithLabels: ', namesWithLabels);
            });
    }
    document.addEventListener("DOMContentLoaded", ready);
    //setup before functions
    var typingTimer;                //timer identifier
    var doneTypingInterval = 10;  //time in ms
    //on keyup, start the countdown
    $('#tags').keyup(function () {
        console.log('here');
        clearTimeout(typingTimer);
        if ($('#tags').val()) {
            typingTimer = setTimeout(doneTyping, doneTypingInterval);
        }
    });

    //user is "finished typing," do something
    function doneTyping() {
        $("#tags").autocomplete({
            source: namesWithLabels,
            select: function (event, ui) {
                $('#producerId').val(ui.item.id);
                $('#tags').val(ui.item.label);
            }
        });
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
