@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
    <h1 style="color:navy;"><b>Вітаємо!</b></h1>
    <br />
    <h3>Автомобілі вашої мрії...</h3>
    <h4>Та де їх можна придбати.</h4>
</div>
<script>
    $("container").addClass("bg-transparent");
</script>