@model LabWebCars.Models.Producer

@{
    ViewData["Title"] = "Додавання";
}

<h1>Додати дилера</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorporationId" class="control-label"></label>
                <select asp-for="CorporationId" class="form-control" asp-items="ViewBag.CorporationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Info" class="control-label"></label>
                <input asp-for="Info" class="form-control" />
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icon" class="control-label"></label>
                <input asp-for="Icon" class="form-control" />
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="ImageFile" class="control-label"></label>
            <input asp-for="ImageFile" accept="image/*" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>*@
        <div class="form-group">
            <input type="submit" value="Додати" class="btn btn-success" />
        </div>
        </form>
    </div>
</div>

<div>
    <a href="javascript:history.go(-1)">Повернутися назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
